div .top{
    background-color: #1f6f8b;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  div .gap1 {
    bottom: 0px;
    margin: 0px auto;
    padding: 20px 50px;
  }
  div .top h1{
    margin: auto 100px;
  }